<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PokeTracker</title>
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<header id="navigation">
  <div class="logo scrolldis">
    <img src="../assets/img/logo.svg" alt="logo" style="height: 32px;">
  </div>
  <nav class="nav-bar scrolldis">
    <a class="nav-item" href="index.html">About</a>
    <a class="nav-item" href="#">Search</a>
    <a class="nav-item" href="contact.html">Contact</a>
  </nav>
  <div class="button scrolldis">
    <a class="btn">
      BUTTON
    </a>
    <a class="btn">
      BUTTON
    </a></div>
</header>
<div class="container">
  <div class="form-box">
    <h1>Anything you'd like to share?</h1>
    <p>If you've got any suggestions on what I could do next, or want to give me feedback on what you enjoyed, or not, I'm all ears</p>
    <form onSubmit=formSubmit>
      <label for="message"></label><textarea name="message" id="message" placeholder="Share your thoughts here"></textarea>
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
  <footer>
    <div class="footer-content">nothing to see here</div>
  </footer>

  <script>
    const header = document.querySelectorAll(".scrolldis");
    window.addEventListener('scroll', () => {
      if (window.scrollY > 0) {
        header.forEach(elem => {
          elem.style.opacity = '0';
          elem.style.pointerEvents = 'none';
        });
      } else {
        header.forEach(elem => {
          elem.style.opacity = '1';
          elem.style.pointerEvents = 'auto';
        });
      }
    });
  </script>
</body>
</html>