<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pokemon Cards</title>
</head>
<body>
<form action="/" method="get">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <label for="set-name">Set Name:</label>
    <input type="text" name="set-name" id="set-name">
    <label for="types">Type:</label>
    <input type="text" name="types" id="types">
    <button type="submit">Search</button>
</form>
<div>
    {{range .}}
        <div>
            <a href="/card-details?id={{.ID}}">
                <img src="{{.Images.Small}}" alt="{{.Name}}">
            </a>
        </div>
    {{end}}
</div>
</body>
</html>
